* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-x pan-y;
}

body {
  overflow: hidden;
  background-color: black;
  /*   image-rendering: pixelated;
  background: url('https://cdn.glitch.com/54da81a8-01a7-43bc-8a98-779173df2147%2Fbackground.jpg?v=1587586808184');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  font-family: arial;
}

html {
  position: fixed;
  top: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
  filter:hue-rotate(320deg);
  	-webkit-background-clip: text;
	background-size: contain;
	color: transparent;
	font-size: 1000%;
	font-family: 'frozen', serif;
}

h1::before {
    content: "Battlegrounds";
		position: absolute;
		left: 0;
		bottom: 0%;
		width: 100%;
		background: linear-gradient(-45deg, rgba(255,255,255,0) 45%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
		-webkit-background-clip: text;
		color: transparent;
		mix-blend-mode: screen;
		animation: shine 4s infinite;
		background-size: 200%;
		text-shadow: 
			2px 2px 10px rgba(#000, 0.2),
			-2px 2px 10px rgba(#000, 0.2),
			-2px -2px 10px rgba(#000, 0.2);
	}

@font-face {
	font-family:'frozen'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
}

@keyframes shine {
	-100% {background-position: -100%;}
	0% {background-position: 100%;}
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(https://cdn.glitch.com/00742a89-c4d3-4606-baad-f1fad6586440%2Fstars.png?v=1590450985891) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(https://cdn.glitch.com/00742a89-c4d3-4606-baad-f1fad6586440%2Ftwinkling.png?v=1590450983898) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(https://cdn.glitch.com/00742a89-c4d3-4606-baad-f1fad6586440%2Fclouds.png?v=1590450983939) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}